# Submission 1
#### For Python Level 3, Prepare Level 2, and Access Level 3
In this section of my portfolio I will be demonstrating skills for the above list. For more demonstration on **Prepare**, please look at *submission_4*.

##### Access Level 3
Access data from both common and uncommon formats and identify best practices for formats in different contexts. 
<p>
There are many different ways to access data in Pandas, whether you want to read into a more common format such as a CSV file, or if you to access data stored in an HDF5 table or in SAS format. 
</p>
<p> 
When considering which format to use, you should also note the different types of separators that are the defaults of each method. For example, pd.read_csv defaults separation to a comma, while pd.read_table defaults to'\t'. Different file types also come with different parameters (whether optional or required) according to their designated Pandas function. 
</p>
<p>
For a contextual example, consider pd.read_sql_table, pd.read_sql_query, and pd.read_sql. Although these functions seem very similar to each other, there are actually quite a few key differences. The list below describes each method and how you can use them.
</p>

**pd.read_sql_table** 
* Reads an SQL database table into a DataFrame
* Takes in parse_dates, columns, chunksize
* Does not support DBAPI connections

**pd.read_sql_query**
* Reads an SQL query into a DataFrame
* Takes in parse_dates, chunksize
* May support DBAPI connections depending on type

**pd.read_sql** 
* Read SQL query or database table into a DataFrame
* More for convenience, compatibility for previous methods
* Takes in parse_dates, columns, chunksize

Now, I will be using SQLite to access the database for a dataset called **Simple Folk**.
<p>
Link to database: http://2016.padjo.org/files/data/starterpack/simplefolks.sqlite

In [1]:
import sqlite3
import pandas as pd
con = sqlite3.connect('simplefolks.sqlite')
cur = con.cursor()
rows = cur.fetchall()

In [2]:
# DataFrame with the age, sex, and name of individuals
people_df = pd.read_sql_query("SELECT age, sex, name FROM people", con)
# DataFrame with pets, pet owners, and pet names
pet_df = pd.read_sql_query("SELECT name, owner_name FROM pets ORDER BY name", con)

In [3]:
# Viewing DataFrames
people_df.head()

   age sex      name
0   33   M    Austin
1   90   M     Blair
2   28   F  Carolina
3   41   F      Dani
4   70   M    Donald

In [4]:
# Viewing DataFrames
pet_df.head()

      name owner_name
0  Artemis       Dani
1  Bumpkin   Georgina
2   Donald     Donald
3     Essy     Sherry
4  Harambe       Dani

Now, let's say we wanted to list all of the 30 year old and older men in the people table. We can do this by implementing the query below.

In [5]:
query_1 = pd.read_sql_query("SELECT * FROM people WHERE sex = 'M' AND age >= 30", con)
query_1

      name sex  age
0   Austin   M   33
1    Blair   M   90
2   Donald   M   70
3  Michael   M   48
4      Zed   M   42

Or, with the pet table we can find the pets name and type that are not dogs or cats. Personally, the bird named Harambe is my favorite.

In [6]:
query_2 = pd.read_sql_query("SELECT name, type FROM pets WHERE type != 'cat' and TYPE != 'dog'", con)
query_2

           name   type
0       Harambe   bird
1         Hodor   bird
2       Bumpkin  horse
3   Secretariat  horse
4  Harry Potter  horse
5        Xerses  horse
6       Jenkins  horse

Luckily for us, SQLite databases and their respective tables usually come in a very easy-to-read format. In other cases where the data is not as easy to read in, we need to be able to clean and prepare it.

##### Prepare Level 2
Apply data reshaping, cleaning, and filtering as directed.

In [7]:
# First, I'll load the xls file in and take a look at it uncleaned.
unclean_table = pd.read_excel("tabn039.xls")
unclean_table.head()

,"Table 39. Enrollment in public elementary and secondary schools, by level and grade: Selected years, fall 1980 through fall 2010",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Grade,Fall 1980,Fall 1985,Fall 1990,Fall 1992,Fall 1993,Fall 1994,Fall 1995,Fall 1996,Fall 1997,...,Fall 2001,Fall 2002,Fall 2003,Fall 2004,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2009,Fall 2010
1,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
2,NaN,Number (in thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,All grades .................,40877.5,39422,41216.7,42823.3,43464.9,44111.5,44840.5,45611,46126.9,...,47671.9,48183.1,48540.2,48795.5,49113.3,49315.8,49292.5,49265.6,49361,49484.2
4,Elementary ............................,27646.5,27034.2,29875.9,31086,31501.8,31896.1,32338.3,32762.3,33071,...,33935.9,34114.2,34200.7,34177.6,34204,34234.8,34205.4,34285.6,34409.3,34624.5

Obviously, this table needs some major cleaning. Although I am only showing the head of the table above, there are actually plenty of rows towards the end (rows 42-45) that are filled with NaN values. Our first task will be to **drop and rename** columns and rows.

In [8]:
clean_table = pd.read_excel("tabn039.xls", header = 1, index_col=0)
clean_table.head()

,Fall 1980,Fall 1985,Fall 1990,Fall 1992,Fall 1993,Fall 1994,Fall 1995,Fall 1996,Fall 1997,Fall 1998,...,Fall 2001,Fall 2002,Fall 2003,Fall 2004,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2009,Fall 2010
Grade,,,,,,,,,,,,,,,,,,,,,
1,2,3.000,4.000,5.000,6.000,7.000,8.000,9.000,10.000,11.000,...,14.000,15.000,16.000,17.000,18.000,19.000,20.000,21.000,22.000,23.000
NaN,Number (in thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
All grades .................,40877.5,39421.961,41216.683,42823.312,43464.916,44111.482,44840.481,45611.046,46126.897,46538.585,...,47671.870,48183.086,48540.215,48795.465,49113.298,49315.842,49292.507,49265.572,49360.982,49484.181
Elementary ............................,27646.5,27034.244,29875.914,31086.039,31501.847,31896.076,32338.311,32762.256,33071.020,33343.733,...,33935.922,34114.245,34200.741,34177.565,34203.962,34234.751,34205.362,34285.564,34409.260,34624.530
Prekindergarten ........,96.133,151.335,303.319,504.585,545.135,602.535,636.846,670.373,695.120,728.703,...,865.086,914.879,949.649,990.421,1036.466,1084.391,1081.125,1179.507,1222.860,1278.678

In [9]:
# This will get rid of leadings rows, as well as NaN rows towards the bottom
clean_table = clean_table.iloc[2:41]
clean_table

,Fall 1980,Fall 1985,Fall 1990,Fall 1992,Fall 1993,Fall 1994,Fall 1995,Fall 1996,Fall 1997,Fall 1998,...,Fall 2001,Fall 2002,Fall 2003,Fall 2004,Fall 2005,Fall 2006,Fall 2007,Fall 2008,Fall 2009,Fall 2010
Grade,,,,,,,,,,,,,,,,,,,,,
All grades .................,40877.5,39421.961000,41216.683000,42823.312000,43464.916000,44111.482000,44840.481000,45611.046000,46126.897000,46538.585000,...,47671.870000,48183.086000,48540.215000,48795.465000,49113.298000,49315.842000,49292.507000,49265.572000,49360.982000,49484.181000
Elementary ............................,27646.5,27034.244000,29875.914000,31086.039000,31501.847000,31896.076000,32338.311000,32762.256000,33071.020000,33343.733000,...,33935.922000,34114.245000,34200.741000,34177.565000,34203.962000,34234.751000,34205.362000,34285.564000,34409.260000,34624.530000
Prekindergarten ........,96.133,151.335000,303.319000,504.585000,545.135000,602.535000,636.846000,670.373000,695.120000,728.703000,...,865.086000,914.879000,949.649000,990.421000,1036.466000,1084.391000,1081.125000,1179.507000,1222.860000,1278.678000
Kindergarten ........,2593.11,3041.071000,3306.329000,3312.777000,3376.998000,3444.276000,3536.227000,3532.263000,3503.491000,3442.874000,...,3379.151000,3433.895000,3503.280000,3543.554000,3619.421000,3631.002000,3609.415000,3639.750000,3677.971000,3682.092000
1st grade ......................,2894.47,3238.855000,3499.434000,3541.708000,3529.072000,3593.382000,3670.903000,3770.420000,3754.594000,3727.158000,...,3614.069000,3593.839000,3612.509000,3663.005000,3690.854000,3751.144000,3750.073000,3708.485000,3728.773000,3753.951000
2nd grade ......................,2799.59,2940.995000,3327.454000,3431.291000,3429.243000,3439.828000,3507.022000,3600.076000,3688.972000,3681.463000,...,3593.337000,3564.873000,3543.781000,3559.854000,3606.405000,3640.702000,3704.007000,3698.723000,3664.697000,3700.668000
3rd grade ......................,2893.01,2894.524000,3296.720000,3361.362000,3436.978000,3439.042000,3444.740000,3523.762000,3596.887000,3695.643000,...,3653.314000,3622.790000,3611.041000,3580.462000,3586.107000,3627.487000,3658.869000,3707.772000,3707.038000,3685.833000
4th grade ........................,3107.13,2771.015000,3248.065000,3341.737000,3361.110000,3425.951000,3430.583000,3453.769000,3507.457000,3592.153000,...,3694.898000,3668.517000,3619.089000,3611.638000,3577.506000,3585.891000,3624.408000,3646.896000,3700.530000,3711.341000
5th grade ..........................,3129.86,2776.402000,3197.343000,3325.427000,3350.453000,3371.884000,3437.943000,3452.853000,3457.541000,3520.104000,...,3726.835000,3711.466000,3684.539000,3635.181000,3632.829000,3601.796000,3600.120000,3629.079000,3652.134000,3717.521000
6th grade .........................,3037.6,2788.817000,3110.172000,3302.671000,3355.633000,3381.439000,3395.307000,3493.631000,3492.490000,3496.812000,...,3768.809000,3787.997000,3771.934000,3735.281000,3670.135000,3660.368000,3628.453000,3613.521000,3644.057000,3682.052000
7th grade ........................,3085.18,2938.307000,3066.898000,3299.060000,3355.288000,3403.550000,3422.290000,3463.954000,3519.805000,3529.620000,...,3720.468000,3821.369000,3840.514000,3818.427000,3777.151000,3716.076000,3700.857000,3652.623000,3641.342000,3676.309000
8th grade ......................,3086.22,2981.883000,2979.123000,3129.006000,3249.266000,3302.297000,3356.338000,3402.615000,3415.114000,3480.371000,...,3615.940000,3709.195000,3809.431000,3824.670000,3801.893000,3765.575000,3709.409000,3691.795000,3651.276000,3659.405000
Elementary ungraded .............,924.229,511.040000,541.057000,536.415000,512.671000,491.892000,500.112000,398.540000,439.549000,448.832000,...,304.015000,285.425000,254.974000,215.072000,205.195000,170.319000,138.626000,117.413000,118.582000,76.680000
Secondary ................,13230.9,12387.717000,11340.769000,11737.273000,11963.069000,12215.406000,12502.170000,12848.790000,13055.877000,13194.852000,...,13735.948000,14068.841000,14339.474000,14617.900000,14909.336000,15081.091000,15087.145000,14980.008000,14951.722000,14859.651000
9th grade ..............,3376.92,3438.951000,3168.630000,3351.831000,3486.958000,3604.115000,3704.455000,3801.220000,3818.843000,3856.464000,...,4012.349000,4104.719000,4190.237000,4281.345000,4287.123000,4259.909000,4199.967000,4122.552000,4080.016000,4007.857000
10th grade ..............,3367.84,3230.130000,2895.549000,3027.271000,3050.404000,3131.234000,3237.391000,3323.171000,3376.462000,3382.134000,...,3527.859000,3584.412000,3675.255000,3750.491000,3866.158000,3882.204000,3862.995000,3822.200000,3809.135000,3799.883000
11th grade ............,3194.84,2866.025000,2611.633000,2655.946000,2751.227000,2748.189000,2826.023000,2930.297000,2971.923000,3020.899000,...,3173.939000,3228.867000,3277.218000,3369.339000,3454.423000,3551.445000,3557.585000,3548.100000,3540.964000,3538.482000
12th grade .............,2925.09,2549.614000,2381.083000,2430.536000,2424.031000,2487.552000,2487.135000,2586.448000,2672.932000,2721.709000,...,2862.861000,2989.509000,3046.491000,3094.349000,3180.248000,3277.401000,3374.786000,3399.689000,3431.686000,3471.888000
Secondary ungraded .....,366.252,302.997000,283.874000,271.689000,250.449000,244.316000,247.166000,207.654000,215.717000,213.646000,...,158.940000,161.334000,150.273000,122.376000,121.384000,110.132000,91.812000,87.467000,89.921000,41.541000
,Percentage distribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
All grades .................,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
Elementary .................................,67.6327,68.576609,72.485003,72.591394,72.476493,72.307877,72.118564,71.829653,71.695740,71.647501,...,71.186471,70.801287,70.458569,70.042503,69.642975,69.419378,69.392620,69.593354,69.709432,69.970906
Prekindergarten ........,0.235173,0.383885,0.735913,1.178295,1.254195,1.365937,1.420248,1.469760,1.506973,1.565804,...,1.814668,1.898756,1.956417,2.029740,2.110357,2.198869,2.193285,2.394181,2.477382,2.584014
Kindergarten ........,6.34361,7.714155,8.021822,7.735920,7.769480,7.808117,7.886238,7.744315,7.595332,7.397891,...,7.088354,7.126764,7.217273,7.262056,7.369534,7.362750,7.322442,7.388019,7.451171,7.440948
1st grade ..............,7.08085,8.215865,8.490334,8.270514,8.119358,8.146138,8.186583,8.266462,8.139706,8.008748,...,7.581135,7.458715,7.442301,7.506855,7.514979,7.606367,7.607795,7.527539,7.554090,7.586164
2nd grade ..............,6.84874,7.460296,8.073076,8.012671,7.889680,7.798033,7.821107,7.892992,7.997442,7.910561,...,7.537646,7.398598,7.300711,7.295461,7.343032,7.382419,7.514341,7.507724,7.424279,7.478487
3rd grade ..............,7.07726,7.342415,7.998509,7.849374,7.907476,7.796251,7.682210,7.725677,7.797808,7.941030,...,7.663459,7.518800,7.439277,7.337694,7.301703,7.355622,7.422769,7.526091,7.510057,7.448508
4th grade ..............,7.60107,7.029115,7.880462,7.803546,7.732926,7.766574,7.650638,7.572221,7.603930,7.718655,...,7.750688,7.613703,7.455857,7.401585,7.284190,7.271276,7.352858,7.402524,7.496873,7.500055
5th grade ..............,7.65669,7.042780,7.757400,7.765460,7.708408,7.644005,7.667052,7.570212,7.495716,7.563840,...,7.817682,7.702840,7.590694,7.449834,7.396834,7.303527,7.303585,7.366359,7.398828,7.512544
6th grade ..............,7.43099,7.074273,7.545906,7.712320,7.720326,7.665666,7.571968,7.659616,7.571483,7.513791,...,7.905729,7.861674,7.770740,7.654976,7.472793,7.422296,7.361064,7.334779,7.382465,7.440867
7th grade ..............,7.5474,7.453478,7.440914,7.703888,7.719532,7.715792,7.632144,7.594551,7.630700,7.584287,...,7.804326,7.930935,7.912025,7.825373,7.690689,7.535258,7.507950,7.414149,7.376964,7.429261
8th grade ..............,7.54991,7.564015,7.227954,7.306782,7.475606,7.486253,7.485062,7.460068,7.403737,7.478463,...,7.585060,7.698127,7.847990,7.838167,7.741066,7.635630,7.525300,7.493661,7.397089,7.395101
Elementary ungraded ....,2.26097,1.296333,1.312714,1.252624,1.179505,1.115111,1.115314,0.873780,0.952913,0.964430,...,0.637724,0.592376,0.525284,0.440762,0.417799,0.345364,0.281231,0.238327,0.240234,0.154959
Secondary ................,32.3673,31.423391,27.514997,27.408606,27.523507,27.692123,27.881436,28.170347,28.304260,28.352499,...,28.813529,29.198713,29.541431,29.957497,30.357025,30.580622,30.607380,30.406646,30.290568,30.029094
9th grade ...............,8.26108,8.723440,7.687737,7.827118,8.022466,8.170469,8.261408,8.333990,8.278994,8.286595,...,8.416597,8.519004,8.632506,8.774063,8.729047,8.638013,8.520498,8.368018,8.265670,8.099269
10th grade ..............,8.23886,8.193732,7.025187,7.069213,7.018083,7.098456,7.219795,7.285891,7.319942,7.267376,...,7.400295,7.439150,7.571567,7.686147,7.871917,7.872124,7.836881,7.758359,7.716895,7.678985
11th grade ............,7.81565,7.270123,6.336349,6.202103,6.329765,6.230099,6.302392,6.424534,6.442929,6.491171,...,6.657887,6.701246,6.751552,6.905025,7.033580,7.201428,7.217294,7.201987,7.173609,7.150734
12th grade ............,7.15576,6.467497,5.776988,5.675731,5.576983,5.639239,5.546629,5.670661,5.794736,5.848285,...,6.005347,6.204478,6.276221,6.341468,6.475330,6.645737,6.846448,6.900740,6.952224,7.016157
Secondary ungraded ...,0.895975,0.768600,0.688736,0.634442,0.576210,0.553860,0.551212,0.455271,0.467660,0.459073,...,0.333404,0.334835,0.309585,0.250794,0.247151,0.223320,0.186260,0.177542,0.182170,0.083948

In [10]:
# Changing row and column names to appropriate names
clean_table.rename(str.lower, axis='index', inplace=True)
clean_table.rename(str.lower, axis='columns', inplace=True)
# Deleting whitespaces and trailing periods
clean_table.index = clean_table.index.str.replace('.','')
clean_table.index = clean_table.index.str.replace(' ','_')
clean_table.index = clean_table.index.str.lstrip('_')
clean_table.index = clean_table.index.str.rstrip('_')
clean_table.columns = clean_table.columns.str.replace(' ','_')

In [11]:
clean_table

,fall_1980,fall_1985,fall_1990,fall_1992,fall_1993,fall_1994,fall_1995,fall_1996,fall_1997,fall_1998,...,fall_2001,fall_2002,fall__2003,fall__2004,fall__2005,fall__2006,fall__2007,fall__2008,fall__2009,fall__2010
Grade,,,,,,,,,,,,,,,,,,,,,
all_grades,40877.5,39421.961000,41216.683000,42823.312000,43464.916000,44111.482000,44840.481000,45611.046000,46126.897000,46538.585000,...,47671.870000,48183.086000,48540.215000,48795.465000,49113.298000,49315.842000,49292.507000,49265.572000,49360.982000,49484.181000
elementary,27646.5,27034.244000,29875.914000,31086.039000,31501.847000,31896.076000,32338.311000,32762.256000,33071.020000,33343.733000,...,33935.922000,34114.245000,34200.741000,34177.565000,34203.962000,34234.751000,34205.362000,34285.564000,34409.260000,34624.530000
prekindergarten,96.133,151.335000,303.319000,504.585000,545.135000,602.535000,636.846000,670.373000,695.120000,728.703000,...,865.086000,914.879000,949.649000,990.421000,1036.466000,1084.391000,1081.125000,1179.507000,1222.860000,1278.678000
kindergarten,2593.11,3041.071000,3306.329000,3312.777000,3376.998000,3444.276000,3536.227000,3532.263000,3503.491000,3442.874000,...,3379.151000,3433.895000,3503.280000,3543.554000,3619.421000,3631.002000,3609.415000,3639.750000,3677.971000,3682.092000
1st_grade,2894.47,3238.855000,3499.434000,3541.708000,3529.072000,3593.382000,3670.903000,3770.420000,3754.594000,3727.158000,...,3614.069000,3593.839000,3612.509000,3663.005000,3690.854000,3751.144000,3750.073000,3708.485000,3728.773000,3753.951000
2nd_grade,2799.59,2940.995000,3327.454000,3431.291000,3429.243000,3439.828000,3507.022000,3600.076000,3688.972000,3681.463000,...,3593.337000,3564.873000,3543.781000,3559.854000,3606.405000,3640.702000,3704.007000,3698.723000,3664.697000,3700.668000
3rd_grade,2893.01,2894.524000,3296.720000,3361.362000,3436.978000,3439.042000,3444.740000,3523.762000,3596.887000,3695.643000,...,3653.314000,3622.790000,3611.041000,3580.462000,3586.107000,3627.487000,3658.869000,3707.772000,3707.038000,3685.833000
4th_grade,3107.13,2771.015000,3248.065000,3341.737000,3361.110000,3425.951000,3430.583000,3453.769000,3507.457000,3592.153000,...,3694.898000,3668.517000,3619.089000,3611.638000,3577.506000,3585.891000,3624.408000,3646.896000,3700.530000,3711.341000
5th_grade,3129.86,2776.402000,3197.343000,3325.427000,3350.453000,3371.884000,3437.943000,3452.853000,3457.541000,3520.104000,...,3726.835000,3711.466000,3684.539000,3635.181000,3632.829000,3601.796000,3600.120000,3629.079000,3652.134000,3717.521000
6th_grade,3037.6,2788.817000,3110.172000,3302.671000,3355.633000,3381.439000,3395.307000,3493.631000,3492.490000,3496.812000,...,3768.809000,3787.997000,3771.934000,3735.281000,3670.135000,3660.368000,3628.453000,3613.521000,3644.057000,3682.052000
7th_grade,3085.18,2938.307000,3066.898000,3299.060000,3355.288000,3403.550000,3422.290000,3463.954000,3519.805000,3529.620000,...,3720.468000,3821.369000,3840.514000,3818.427000,3777.151000,3716.076000,3700.857000,3652.623000,3641.342000,3676.309000
8th_grade,3086.22,2981.883000,2979.123000,3129.006000,3249.266000,3302.297000,3356.338000,3402.615000,3415.114000,3480.371000,...,3615.940000,3709.195000,3809.431000,3824.670000,3801.893000,3765.575000,3709.409000,3691.795000,3651.276000,3659.405000
elementary_ungraded,924.229,511.040000,541.057000,536.415000,512.671000,491.892000,500.112000,398.540000,439.549000,448.832000,...,304.015000,285.425000,254.974000,215.072000,205.195000,170.319000,138.626000,117.413000,118.582000,76.680000
secondary,13230.9,12387.717000,11340.769000,11737.273000,11963.069000,12215.406000,12502.170000,12848.790000,13055.877000,13194.852000,...,13735.948000,14068.841000,14339.474000,14617.900000,14909.336000,15081.091000,15087.145000,14980.008000,14951.722000,14859.651000
9th_grade,3376.92,3438.951000,3168.630000,3351.831000,3486.958000,3604.115000,3704.455000,3801.220000,3818.843000,3856.464000,...,4012.349000,4104.719000,4190.237000,4281.345000,4287.123000,4259.909000,4199.967000,4122.552000,4080.016000,4007.857000
10th_grade,3367.84,3230.130000,2895.549000,3027.271000,3050.404000,3131.234000,3237.391000,3323.171000,3376.462000,3382.134000,...,3527.859000,3584.412000,3675.255000,3750.491000,3866.158000,3882.204000,3862.995000,3822.200000,3809.135000,3799.883000
11th_grade,3194.84,2866.025000,2611.633000,2655.946000,2751.227000,2748.189000,2826.023000,2930.297000,2971.923000,3020.899000,...,3173.939000,3228.867000,3277.218000,3369.339000,3454.423000,3551.445000,3557.585000,3548.100000,3540.964000,3538.482000
12th_grade,2925.09,2549.614000,2381.083000,2430.536000,2424.031000,2487.552000,2487.135000,2586.448000,2672.932000,2721.709000,...,2862.861000,2989.509000,3046.491000,3094.349000,3180.248000,3277.401000,3374.786000,3399.689000,3431.686000,3471.888000
secondary_ungraded,366.252,302.997000,283.874000,271.689000,250.449000,244.316000,247.166000,207.654000,215.717000,213.646000,...,158.940000,161.334000,150.273000,122.376000,121.384000,110.132000,91.812000,87.467000,89.921000,41.541000
,Percentage distribution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
all_grades,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
elementary,67.6327,68.576609,72.485003,72.591394,72.476493,72.307877,72.118564,71.829653,71.695740,71.647501,...,71.186471,70.801287,70.458569,70.042503,69.642975,69.419378,69.392620,69.593354,69.709432,69.970906
prekindergarten,0.235173,0.383885,0.735913,1.178295,1.254195,1.365937,1.420248,1.469760,1.506973,1.565804,...,1.814668,1.898756,1.956417,2.029740,2.110357,2.198869,2.193285,2.394181,2.477382,2.584014
kindergarten,6.34361,7.714155,8.021822,7.735920,7.769480,7.808117,7.886238,7.744315,7.595332,7.397891,...,7.088354,7.126764,7.217273,7.262056,7.369534,7.362750,7.322442,7.388019,7.451171,7.440948
1st_grade,7.08085,8.215865,8.490334,8.270514,8.119358,8.146138,8.186583,8.266462,8.139706,8.008748,...,7.581135,7.458715,7.442301,7.506855,7.514979,7.606367,7.607795,7.527539,7.554090,7.586164
2nd_grade,6.84874,7.460296,8.073076,8.012671,7.889680,7.798033,7.821107,7.892992,7.997442,7.910561,...,7.537646,7.398598,7.300711,7.295461,7.343032,7.382419,7.514341,7.507724,7.424279,7.478487
3rd_grade,7.07726,7.342415,7.998509,7.849374,7.907476,7.796251,7.682210,7.725677,7.797808,7.941030,...,7.663459,7.518800,7.439277,7.337694,7.301703,7.355622,7.422769,7.526091,7.510057,7.448508
4th_grade,7.60107,7.029115,7.880462,7.803546,7.732926,7.766574,7.650638,7.572221,7.603930,7.718655,...,7.750688,7.613703,7.455857,7.401585,7.284190,7.271276,7.352858,7.402524,7.496873,7.500055
5th_grade,7.65669,7.042780,7.757400,7.765460,7.708408,7.644005,7.667052,7.570212,7.495716,7.563840,...,7.817682,7.702840,7.590694,7.449834,7.396834,7.303527,7.303585,7.366359,7.398828,7.512544
6th_grade,7.43099,7.074273,7.545906,7.712320,7.720326,7.665666,7.571968,7.659616,7.571483,7.513791,...,7.905729,7.861674,7.770740,7.654976,7.472793,7.422296,7.361064,7.334779,7.382465,7.440867
7th_grade,7.5474,7.453478,7.440914,7.703888,7.719532,7.715792,7.632144,7.594551,7.630700,7.584287,...,7.804326,7.930935,7.912025,7.825373,7.690689,7.535258,7.507950,7.414149,7.376964,7.429261
8th_grade,7.54991,7.564015,7.227954,7.306782,7.475606,7.486253,7.485062,7.460068,7.403737,7.478463,...,7.585060,7.698127,7.847990,7.838167,7.741066,7.635630,7.525300,7.493661,7.397089,7.395101
elementary_ungraded,2.26097,1.296333,1.312714,1.252624,1.179505,1.115111,1.115314,0.873780,0.952913,0.964430,...,0.637724,0.592376,0.525284,0.440762,0.417799,0.345364,0.281231,0.238327,0.240234,0.154959
secondary,32.3673,31.423391,27.514997,27.408606,27.523507,27.692123,27.881436,28.170347,28.304260,28.352499,...,28.813529,29.198713,29.541431,29.957497,30.357025,30.580622,30.607380,30.406646,30.290568,30.029094
9th_grade,8.26108,8.723440,7.687737,7.827118,8.022466,8.170469,8.261408,8.333990,8.278994,8.286595,...,8.416597,8.519004,8.632506,8.774063,8.729047,8.638013,8.520498,8.368018,8.265670,8.099269
10th_grade,8.23886,8.193732,7.025187,7.069213,7.018083,7.098456,7.219795,7.285891,7.319942,7.267376,...,7.400295,7.439150,7.571567,7.686147,7.871917,7.872124,7.836881,7.758359,7.716895,7.678985
11th_grade,7.81565,7.270123,6.336349,6.202103,6.329765,6.230099,6.302392,6.424534,6.442929,6.491171,...,6.657887,6.701246,6.751552,6.905025,7.033580,7.201428,7.217294,7.201987,7.173609,7.150734
12th_grade,7.15576,6.467497,5.776988,5.675731,5.576983,5.639239,5.546629,5.670661,5.794736,5.848285,...,6.005347,6.204478,6.276221,6.341468,6.475330,6.645737,6.846448,6.900740,6.952224,7.016157
secondary_ungraded,0.895975,0.768600,0.688736,0.634442,0.576210,0.553860,0.551212,0.455271,0.467660,0.459073,...,0.333404,0.334835,0.309585,0.250794,0.247151,0.223320,0.186260,0.177542,0.182170,0.083948

Now, our rows and columns look pretty good. However, we have a couple of different tables combined into one table (cleaned_table). Below, I will attempt to split these into **2 different tables**.

This table shows the **Enrollment in Schools, in Thousands**.

In [23]:
# First table
df1 = clean_table.iloc[:19]
df1.style.set_caption("Enrollment in Schools, in Thousands")
df1.index.name = None
df1

,fall_1980,fall_1985,fall_1990,fall_1992,fall_1993,fall_1994,fall_1995,fall_1996,fall_1997,fall_1998,...,fall_2001,fall_2002,fall__2003,fall__2004,fall__2005,fall__2006,fall__2007,fall__2008,fall__2009,fall__2010
all_grades,40877.5,39421.961,41216.683,42823.312,43464.916,44111.482,44840.481,45611.046,46126.897,46538.585,...,47671.870,48183.086,48540.215,48795.465,49113.298,49315.842,49292.507,49265.572,49360.982,49484.181
elementary,27646.5,27034.244,29875.914,31086.039,31501.847,31896.076,32338.311,32762.256,33071.020,33343.733,...,33935.922,34114.245,34200.741,34177.565,34203.962,34234.751,34205.362,34285.564,34409.260,34624.530
prekindergarten,96.133,151.335,303.319,504.585,545.135,602.535,636.846,670.373,695.120,728.703,...,865.086,914.879,949.649,990.421,1036.466,1084.391,1081.125,1179.507,1222.860,1278.678
kindergarten,2593.11,3041.071,3306.329,3312.777,3376.998,3444.276,3536.227,3532.263,3503.491,3442.874,...,3379.151,3433.895,3503.280,3543.554,3619.421,3631.002,3609.415,3639.750,3677.971,3682.092
1st_grade,2894.47,3238.855,3499.434,3541.708,3529.072,3593.382,3670.903,3770.420,3754.594,3727.158,...,3614.069,3593.839,3612.509,3663.005,3690.854,3751.144,3750.073,3708.485,3728.773,3753.951
2nd_grade,2799.59,2940.995,3327.454,3431.291,3429.243,3439.828,3507.022,3600.076,3688.972,3681.463,...,3593.337,3564.873,3543.781,3559.854,3606.405,3640.702,3704.007,3698.723,3664.697,3700.668
3rd_grade,2893.01,2894.524,3296.720,3361.362,3436.978,3439.042,3444.740,3523.762,3596.887,3695.643,...,3653.314,3622.790,3611.041,3580.462,3586.107,3627.487,3658.869,3707.772,3707.038,3685.833
4th_grade,3107.13,2771.015,3248.065,3341.737,3361.110,3425.951,3430.583,3453.769,3507.457,3592.153,...,3694.898,3668.517,3619.089,3611.638,3577.506,3585.891,3624.408,3646.896,3700.530,3711.341
5th_grade,3129.86,2776.402,3197.343,3325.427,3350.453,3371.884,3437.943,3452.853,3457.541,3520.104,...,3726.835,3711.466,3684.539,3635.181,3632.829,3601.796,3600.120,3629.079,3652.134,3717.521
6th_grade,3037.6,2788.817,3110.172,3302.671,3355.633,3381.439,3395.307,3493.631,3492.490,3496.812,...,3768.809,3787.997,3771.934,3735.281,3670.135,3660.368,3628.453,3613.521,3644.057,3682.052
7th_grade,3085.18,2938.307,3066.898,3299.060,3355.288,3403.550,3422.290,3463.954,3519.805,3529.620,...,3720.468,3821.369,3840.514,3818.427,3777.151,3716.076,3700.857,3652.623,3641.342,3676.309
8th_grade,3086.22,2981.883,2979.123,3129.006,3249.266,3302.297,3356.338,3402.615,3415.114,3480.371,...,3615.940,3709.195,3809.431,3824.670,3801.893,3765.575,3709.409,3691.795,3651.276,3659.405
elementary_ungraded,924.229,511.040,541.057,536.415,512.671,491.892,500.112,398.540,439.549,448.832,...,304.015,285.425,254.974,215.072,205.195,170.319,138.626,117.413,118.582,76.680
secondary,13230.9,12387.717,11340.769,11737.273,11963.069,12215.406,12502.170,12848.790,13055.877,13194.852,...,13735.948,14068.841,14339.474,14617.900,14909.336,15081.091,15087.145,14980.008,14951.722,14859.651
9th_grade,3376.92,3438.951,3168.630,3351.831,3486.958,3604.115,3704.455,3801.220,3818.843,3856.464,...,4012.349,4104.719,4190.237,4281.345,4287.123,4259.909,4199.967,4122.552,4080.016,4007.857
10th_grade,3367.84,3230.130,2895.549,3027.271,3050.404,3131.234,3237.391,3323.171,3376.462,3382.134,...,3527.859,3584.412,3675.255,3750.491,3866.158,3882.204,3862.995,3822.200,3809.135,3799.883
11th_grade,3194.84,2866.025,2611.633,2655.946,2751.227,2748.189,2826.023,2930.297,2971.923,3020.899,...,3173.939,3228.867,3277.218,3369.339,3454.423,3551.445,3557.585,3548.100,3540.964,3538.482
12th_grade,2925.09,2549.614,2381.083,2430.536,2424.031,2487.552,2487.135,2586.448,2672.932,2721.709,...,2862.861,2989.509,3046.491,3094.349,3180.248,3277.401,3374.786,3399.689,3431.686,3471.888
secondary_ungraded,366.252,302.997,283.874,271.689,250.449,244.316,247.166,207.654,215.717,213.646,...,158.940,161.334,150.273,122.376,121.384,110.132,91.812,87.467,89.921,41.541

This table shows the **Percent Distribution in Enrollment in Schools**.

In [24]:
# Second table
df2 = clean_table.iloc[20:]
df2.index.name = None
df2

,fall_1980,fall_1985,fall_1990,fall_1992,fall_1993,fall_1994,fall_1995,fall_1996,fall_1997,fall_1998,...,fall_2001,fall_2002,fall__2003,fall__2004,fall__2005,fall__2006,fall__2007,fall__2008,fall__2009,fall__2010
all_grades,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
elementary,67.6327,68.576609,72.485003,72.591394,72.476493,72.307877,72.118564,71.829653,71.695740,71.647501,...,71.186471,70.801287,70.458569,70.042503,69.642975,69.419378,69.392620,69.593354,69.709432,69.970906
prekindergarten,0.235173,0.383885,0.735913,1.178295,1.254195,1.365937,1.420248,1.469760,1.506973,1.565804,...,1.814668,1.898756,1.956417,2.029740,2.110357,2.198869,2.193285,2.394181,2.477382,2.584014
kindergarten,6.34361,7.714155,8.021822,7.735920,7.769480,7.808117,7.886238,7.744315,7.595332,7.397891,...,7.088354,7.126764,7.217273,7.262056,7.369534,7.362750,7.322442,7.388019,7.451171,7.440948
1st_grade,7.08085,8.215865,8.490334,8.270514,8.119358,8.146138,8.186583,8.266462,8.139706,8.008748,...,7.581135,7.458715,7.442301,7.506855,7.514979,7.606367,7.607795,7.527539,7.554090,7.586164
2nd_grade,6.84874,7.460296,8.073076,8.012671,7.889680,7.798033,7.821107,7.892992,7.997442,7.910561,...,7.537646,7.398598,7.300711,7.295461,7.343032,7.382419,7.514341,7.507724,7.424279,7.478487
3rd_grade,7.07726,7.342415,7.998509,7.849374,7.907476,7.796251,7.682210,7.725677,7.797808,7.941030,...,7.663459,7.518800,7.439277,7.337694,7.301703,7.355622,7.422769,7.526091,7.510057,7.448508
4th_grade,7.60107,7.029115,7.880462,7.803546,7.732926,7.766574,7.650638,7.572221,7.603930,7.718655,...,7.750688,7.613703,7.455857,7.401585,7.284190,7.271276,7.352858,7.402524,7.496873,7.500055
5th_grade,7.65669,7.042780,7.757400,7.765460,7.708408,7.644005,7.667052,7.570212,7.495716,7.563840,...,7.817682,7.702840,7.590694,7.449834,7.396834,7.303527,7.303585,7.366359,7.398828,7.512544
6th_grade,7.43099,7.074273,7.545906,7.712320,7.720326,7.665666,7.571968,7.659616,7.571483,7.513791,...,7.905729,7.861674,7.770740,7.654976,7.472793,7.422296,7.361064,7.334779,7.382465,7.440867
7th_grade,7.5474,7.453478,7.440914,7.703888,7.719532,7.715792,7.632144,7.594551,7.630700,7.584287,...,7.804326,7.930935,7.912025,7.825373,7.690689,7.535258,7.507950,7.414149,7.376964,7.429261
8th_grade,7.54991,7.564015,7.227954,7.306782,7.475606,7.486253,7.485062,7.460068,7.403737,7.478463,...,7.585060,7.698127,7.847990,7.838167,7.741066,7.635630,7.525300,7.493661,7.397089,7.395101
elementary_ungraded,2.26097,1.296333,1.312714,1.252624,1.179505,1.115111,1.115314,0.873780,0.952913,0.964430,...,0.637724,0.592376,0.525284,0.440762,0.417799,0.345364,0.281231,0.238327,0.240234,0.154959
secondary,32.3673,31.423391,27.514997,27.408606,27.523507,27.692123,27.881436,28.170347,28.304260,28.352499,...,28.813529,29.198713,29.541431,29.957497,30.357025,30.580622,30.607380,30.406646,30.290568,30.029094
9th_grade,8.26108,8.723440,7.687737,7.827118,8.022466,8.170469,8.261408,8.333990,8.278994,8.286595,...,8.416597,8.519004,8.632506,8.774063,8.729047,8.638013,8.520498,8.368018,8.265670,8.099269
10th_grade,8.23886,8.193732,7.025187,7.069213,7.018083,7.098456,7.219795,7.285891,7.319942,7.267376,...,7.400295,7.439150,7.571567,7.686147,7.871917,7.872124,7.836881,7.758359,7.716895,7.678985
11th_grade,7.81565,7.270123,6.336349,6.202103,6.329765,6.230099,6.302392,6.424534,6.442929,6.491171,...,6.657887,6.701246,6.751552,6.905025,7.033580,7.201428,7.217294,7.201987,7.173609,7.150734
12th_grade,7.15576,6.467497,5.776988,5.675731,5.576983,5.639239,5.546629,5.670661,5.794736,5.848285,...,6.005347,6.204478,6.276221,6.341468,6.475330,6.645737,6.846448,6.900740,6.952224,7.016157
secondary_ungraded,0.895975,0.768600,0.688736,0.634442,0.576210,0.553860,0.551212,0.455271,0.467660,0.459073,...,0.333404,0.334835,0.309585,0.250794,0.247151,0.223320,0.186260,0.177542,0.182170,0.083948